@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root{

    font-size: 15px;
    
}

body{

    padding: 0;
    margin: 0;

    background-image: url("data/img/bg/laptop-top.jpg");
    background-size: cover;
    background-position: center;

}


#headlineDiv{

    font-family: 'Fredoka One', cursive;

    background-color: rgba(128, 128, 128, 0.5);

    display: flex;

    width: fit-content;
    border-radius: 2rem;

    margin-left: 7rem;
    margin-top: 12rem;

    padding: 2rem;

    box-shadow: -15px -20px 25px rgba(128, 128, 128, 0.5);

}

#headlineDiv > div > p{

    padding: 0 1rem;
    margin: 0;

    font-size: 2.56rem;
    
    background-image: linear-gradient(45deg, black 50%, transparent 50%);
    background-size: 400%;
    background-position: left;
    -webkit-background-clip: text;
    color: transparent;

    animation-name: textAnimation;
    animation-duration: 2500ms;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-delay: 0;

}

h1{

    font-size: 8rem;

    display: inline-block;

    margin: 0;
    padding: 0 1rem;

    background-image: linear-gradient(45deg, black 50%, transparent 50%);
    background-size: 400%;
    background-position: right;
    -webkit-background-clip: text;
    color: transparent;

    animation-name: textAnimation;
    animation-duration: 2500ms;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-delay: 120ms;


}

#headlineDiv > img{

    width: 15rem;
    height: 15rem;

    overflow: hidden;

    animation-name: logoAnimation;
    animation-duration: 1000ms;
    animation-fill-mode: both;
    animation-delay: 2000ms;

}

@keyframes textAnimation {
    
    from{
        background-position: right;
    }
    to{
        background-position: left;
    }

}

@keyframes logoAnimation{

    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}

#description{

    background-color: rgba(128, 128, 128, 0.5);

    width: 50rem;
    line-height: 1.5rem;
    padding: 1rem 2rem;
    margin-top: 5rem;
    margin-left: 11rem;

    border-radius: 2rem;

    animation-name: animationDescritpion;
    animation-duration: 1500ms;
    animation-timing-function: ease-out;
    animation-delay: 2s;
    animation-fill-mode: both;
    
    font-family: 'Fredoka One', cursive;

    box-shadow: -15px -20px 25px rgba(128, 128, 128, 0.5);

}

@keyframes animationDescritpion {

    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

#getInfosBtn{

    width: 90%;
    height: 3rem;
    margin-left: 5%;
    margin-bottom: 2rem;
    margin-top: 1.5rem;

    border-radius: 0.5rem;
    border-style: solid;
    border-color: rgb(172, 0, 0);
    border-width: 3.5px;

    background-color: transparent;
    font-weight: bold;
    text-transform: uppercase;

    font-family: 'Fredoka One', cursive;
    font-size: 1.5rem;
    color: rgb(148, 36, 36);
    letter-spacing: 2px;
    transition: 500ms;

}

#getInfosBtn:hover{

    background-color: rgb(148, 36, 36);
    color: white;
    letter-spacing: 4px;
    cursor: pointer;

}